.container 
{
    width:950px; 
    margin:0 auto; 

}

#header 
{
    height:194px; 
    background:url(images/header-bg.gif) left top repeat-x #fff; 

}
#header, #content, #extra-content, #footer 
{ 
    font-size:0.75em;
}

.col-1, .col-2, .col-3 { float:left;}

#footer 
{
    background:url(images/footer-bg.gif) left top repeat-x #717171;

}

* { 
    margin:0 0px; 
padding:0;
}

html, body 
{ 
    height:100%;
}

body 
{ 
    background:#717171; 
    font-family:Tahoma, Geneva, sans-serif; 
    font-size:100%; 
    line-height:1em; 
    color:#404141;
}

#header .row-1 { height:137px;}

#header .logo { float:left; padding:22px 0 0 10px;}
#header .top-links { float:right; padding:45px 35px 0 0; font-size:50px; font-family:Gabriola; color:#0489B1}



#header .nav-box ul { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#header .nav-box ul li { display:inline;}
#header .nav-box ul li a { display:block; float:left; color:#fff; text-decoration:none; }
#header .nav-box ul li a em { display:block; float:left; font-style:normal; background:url(images/divider-left.gif) no-repeat left 10px;}
#header .nav-box ul li a em b { display:block; float:left; height:47px; line-height:47px; width:158px; text-align:center; background:url(images/divider-right.gif) no-repeat right 10px; cursor:pointer;}

#header .nav-box ul li a:hover { background:url(images/nav-act.gif) left top repeat-x;}
#header .nav-box ul li a:hover em { background:url(images/divider-left-act.gif) no-repeat left 10px;}
#header .nav-box ul li a:hover b { background:url(images/divider-right-act.gif) no-repeat right 10px;}
#header .nav-box ul li a.current { background:url(images/nav-act.gif) left top repeat-x;}
#header .nav-box ul li a.current em { background:url(images/divider-left-act.gif) no-repeat left 10px;}
#header .nav-box ul li a.current b { background:url(images/divider-right-act.gif) no-repeat right 10px;}

#header .nav-box ul li a.first em { background:none;}
#header .nav-box ul li a.first:hover em { background:url(images/nav-left-act.gif) no-repeat left top;}
#header .nav-box ul li a.first-current { background:url(images/nav-act.gif) left top repeat-x;}
#header .nav-box ul li a.first-current em { background:url(images/nav-left-act.gif) no-repeat left top !important;}
#header .nav-box ul li a.first-current b { background:url(images/divider-right-act.gif) no-repeat right 10px;}

#header .nav-box ul li a.last b { background:none; width:160px;}
#header .nav-box ul li a.last:hover b { background:url(images/nav-right-act.gif) no-repeat right top;}

#header .nav-box ul li a.last-current { background:url(images/nav-act.gif) left top repeat-x; }
#header .nav-box ul li a.last-current em { background:url(images/divider-left-act.gif) no-repeat left 10px;}
#header .nav-box ul li a.last-current b { background:url(images/nav-right-act.gif) no-repeat right top !important; width:160px;}


#header .nav-box { background:url(images/nav-box-bg.gif) left top repeat-x; width:100%;}
#header .nav-box .left { background:url(images/nav-box-left.gif) no-repeat left top;}
#header .nav-box .right { background:url(images/nav-box-right.gif) no-repeat right top; height:47px;}


#content 
{ 
    padding:0 0 20px 0; 
    background:#fff;
}

#content .section 
{ 
    padding-bottom:20px;
}

.box { background:url(images/box-bg.gif) left top repeat-x; width:100%;}
.box .border-top {background:url(images/border.gif) repeat-x top; }
.box .border-bot {background:url(images/border.gif) repeat-x bottom;}
.box .border-left {background:url(images/border.gif) repeat-y left;}
.box .border-right {background:url(images/border.gif) repeat-y right;}
.box .left-top-corner {background:url(images/left-top-corner.gif) no-repeat left top;}
.box .right-top-corner {background:url(images/right-top-corner.gif) no-repeat right top;}
.box .left-bot-corner {background:url(images/left-bot-corner.gif) no-repeat left bottom; width:100%;}
.box .right-bot-corner {background:url(images/right-bot-corner.gif) no-repeat right bottom; }
.box .inner { padding:27px 35px 30px 34px;}

#footer 
{ 
    color:#fff; 
    padding:27px 0 30px 0;

}
#footer .fleft 
{ 
    padding:0 0 0 44px;

}
#footer .fright 
{ 
    padding:0 44px 0 0;
}


.Contentheading {
    color:#0174DF;
}

 .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.blue {
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: #0095cd;
    }
    .blue:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    }
	
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));